@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
}

* {
    font-family: 'Kumbh Sans', sans-serif;
}

html {
    height: 100%;
    background-color: var(--dark-cyan);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-position: -230px -500px, 700px 425px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main {
    background: url(./images/bg-pattern-card.svg) no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 375px;
    width: 325px;
    border-radius: 15px;
    justify-content: space-around;
}

main img {
    border-radius: 100px;
    border: solid white 5px;
    margin-top: 70px;
}

.name {
    text-align: center;
    font-weight: 700;
}
.name span{
    color: var(--dark-grayish-blue);
}
.name p{
    color: var(--dark-grayish-blue);
    font-weight: 300;
}

.stats {
    display: flex;
    width: 325px;
    flex-direction: row;
    justify-content: space-around;
    border-top: solid rgba(66, 66, 66, 0.3) 1px;
    height: 65px;

}

.stat {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    justify-content: center;
}

.stat p {
    margin-bottom: 0px;
    margin-top: 0px;
    color: var(--dark-grayish-blue);
    font-size: 13px;
}

@media (max-width: 650px){
    html {
        background-color: var(--dark-cyan);
        background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
        background-position: -800px -550px, 125px 300px;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}